dist: xenial

before_install:
- sudo add-apt-repository ppa:myriadrf/drivers -y
- sudo add-apt-repository ppa:myriadrf/gnuradio -y
- sudo apt-get -qq update
- sudo apt-get install -y limesuite cmake swig

language: go

go:
- 1.10.x

# Only clone the most recent commit.
git:
  depth: 1

# script always runs to completion (set +e). If we have linter issues AND a
# failing test, we want to see both. Configure golangci-lint with a
# .golangci.yml file at the top level of your repo.
script:
- golangci-lint run       # run a bunch of code checkers/linters in parallel
- go test -v -race ./...  # Run all the tests with the race detector enabled
